@font-face{
    font-family: 'avantGarde';
    src: url('/fonts/avant_garde_regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'avantGarde', Arial, Helvetica, sans-serif;
}

.header{
    min-width: 60px;
    height: 175px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.top{
    align-items: center;
}

.logo{
    max-width: 300px;
    margin-right: 300px;
}

.logo, nav{
    display: inline-block;
}

.nav{
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%);
}

.search{
    border: solid 2px black;
    width:450px;
    height:31px;
    margin-bottom: 25px;
}

#txtSearch{
    border: none;
    background-color: transparent;
    padding-left: 5px;
    height:32px;
    width: 375px;
    float: left;
}

#txtSearch, input[type=text]:focus {
    outline: none;
  }

#btnSearch{
    border:none;
    height:32px;
    width:70px;
    background-color: brown;
    display: block;
    float: right;
    transition-duration: 0.4s;
}

#btnSearch:hover {
    background-color: rgb(119, 1, 1);
    cursor: pointer;
}

.nav ul{
    width: 455px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}

.nav ul li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;    
}

.nav a{
    color: brown;
    font-size: 20px;
    text-decoration: none;
}

/*MAIN*/

main{
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    height: 900px;
    position: relative;
}

.Elilus{
    max-width: 650px;
    margin-right: 25px;
    display: block;
    float: left;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    display: block;
}

.text h3{
    text-align: center;
    margin-bottom: 15px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    background-color: black;
    border-width: 1.5px;
    width: 250px;
}

.text p{
    margin-top: 20px;
    text-indent:4em;
}

.map{
    display: block;
    float: right;
    margin-top: 70px;
}

.entreContato{
    margin-top: 70px;
    display: block;
    width: 500px;
    height: 400px;
    border: 2px black;
    border-style: solid;
}

.entreContato h3{
    font-family: Arial;
    margin-top: 15px;
    text-align: center;
    
}
/*FOOTER*/
footer{
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    background-color: rgba(128, 31, 31, 0.781);
}

.conteinerFooter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}

.tel p, .email p{
    font-size: 24px;
    display: block;
    padding-left: 15px;
}

.copyright{
    text-align: center;
    min-height: 100%;
    padding-bottom: 15px;
}
  
@media screen and (max-width: 767px){
    .top{
        display:inline-block;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .logo{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: block;
    }

    .nav{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: inline-block;
        position: absolute;
    }

    .search{
        opacity: 0;
        visibility: hidden;
    }

    .nav ul li{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
