@font-face{
    font-family: 'avantGarde';
    src: url('/fonts/avant_garde_regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'avantGarde', Arial, Helvetica, sans-serif;
}

.logo{
    display: inline-block;
    margin-right: 85px;
    max-width: 300px;
}

.nav-link:hover {
    text-decoration: underline;
}

#btnSearch{
    background-color: brown;
    border:none;
    color: #ffffff;
    display: block;
    float: right;
    transition-duration: 0.4s;
    width:70px;
}

#btnSearch:hover {
    background-color: rgb(119, 1, 1);
    cursor: pointer;
}

.titlePage {
    color: brown; 
    font-family: 'Mogra', cursive;
    font-size: 42px; 
    margin-bottom: 35px;
    text-align:center; 
}

.subtitlePage {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

@media screen and (max-width: 485px) {
    .logo {
        margin-right: 60px;
        max-width: 200px;
    }
}

@media screen and (max-width: 365px){
    .logo {
        margin-right: 20px;
        max-width: 100px;
    }
}