@font-face{
    font-family: 'avantGarde';
    src: url('/fonts/avant_garde_regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'avantGarde', Arial, Helvetica, sans-serif;
}

.header{
    min-width: 60px;
    height: 175px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top{
    display: flex;
    align-items: center;
}

.logo{
    display: inline-block;
    margin-right: 100px;
    max-width: 300px;
}

.nav{
    flex-direction: column;
}

.search{
    border: solid 2px black;
    width:450px;
    height:36px;
    margin-bottom: 10px;
}

#txtSearch{
    border: none;
    background-color: transparent;
    padding-left: 5px;
    height:32px;
    width: 375px;
    float: left;
}

#txtSearch, input[type=text]:focus {
    outline: none;
  }

#btnSearch{
    border:none;
    height:32px;
    width:70px;
    background-color: brown;
    display: block;
    float: right;
    transition-duration: 0.4s;
}

#btnSearch:hover {
    background-color: rgb(119, 1, 1);
    cursor: pointer;
}

.nav ul{
    width: 455px;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    list-style: none;
}

.nav ul li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;    
}

.nav a{
    color: brown;
    font-size: 1.5rem;
    text-decoration: none;
}
