.container-fluid {
    width: auto;
}

.container {
    margin-top: 50px;
}

.title {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
}

#categorias {
    background-color: rgb(165, 42, 42);
}

.tituloCategoria {
    background-color: rgba(165, 42, 42, 0.897);
}

.product-grid2 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.product-grid2 .product-image {
    overflow: hidden;
    position: relative;
}

.product-grid2 .product-image a {
    display: block;
}

.product-grid2 .product-image img {
    width: 100%;
    height: auto;
}

.product-grid2 .like {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 35px;
    z-index: 1;
}

.product-grid2 .like li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s;
}

.product-grid2:hover .like li {
    transform: translateX(0);
}

.product-grid2:hover .like li:nth-child(2) {
    transition-delay: .15s;
}

.product-grid2:hover .like li:nth-child(3) {
    transition-delay: .25s;
}

.product-grid2 .like li a {
    color: rgb(80, 80, 80);
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s;
}

.product-grid2 .like li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(52, 152, 219);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.product-grid2 .like li a:after,
.product-grid2 .like li a:before {
    content: attr(data-tip);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}

.product-grid2 .like li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}

.product-grid2 .like li a:hover:after,
.product-grid2 .like li a:hover:before {
    opacity: 1;
}

.product-grid2 .product-new-label {
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
}

.product-grid2:hover .product-new-label {
    opacity: 0;
}

.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center;
}

.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px;
}

.product-grid2 .title a {
    color: rgb(48, 48, 48);
}

.product-grid2 .title a:hover {
    color: rgb(52, 152, 219);
}

.product-grid2 .price {
    color: rgb(48, 48, 48);
    font-size: 15px;
}

@media screen and (max-width:990px) {
    .product-grid2 {
        margin-bottom: 30px;
    }
}