.carousel-caption {
    align-items: center;
    margin-bottom: 20px;
}

.carousel-title {
    background-color: rgba(46, 46, 46, 0.38);
    color: rgb(253, 253, 253);
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
}

.container-fluid {
    width: auto;
}

.facebook {
    display: inline;
    width: 500px;
    height: 700px;
    text-align: center;
}

.figure {
    width: 100%; 
    height: auto;
    border-radius: 20px;
}

.banner_01 {
    width: 100%; height: auto;
    width: 60%;
    margin-right: 60px;
}

.destaque {
    display: flex;
    align-items: center;
    text-align: center;
}

.deCaraNova {
    display: flex;
}

.oMelhorCasa {
    display: flex;
}
