.container-fluid {
    width: auto;
}

.imgElilus {
    max-width: 650px;
    margin-bottom: 26px;
    margin-right: 26px;
    display: block;
    float: left;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    display: block;
}

.text p {
    margin-top: 15px;
    text-indent: 4em;
    line-height: 1.45em;
}

.map {
    display: block;
    height: 270px;
    margin: 0 15px 30px 15px;
}

.maps {
    width: 100%;
    height: 100%;
    border: 0;
}


/*CONTACT*/
.container-contact {
    justify-content: center;
    width: 100%;
}

#contact {
    border: 2px solid rgb(128, 31, 31);
    border-radius: 10px;
    box-shadow: 4px 4px #ccc;
    display: inline;
    height: auto;
    margin: 50px 0;
    padding: 35px 7px;
    width: 65%;
}

#contact:hover {
    transform: scale(1.03);
}

#contact h3 {
    color: rgb(128, 31, 31);
    font-family: Arial;
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
}

.form {
    justify-content: space-evenly;
}

.form form {
    width: 65%;
}

#contact input,
#contact textarea {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin-top: 7px;
    padding: 5px;
    width: 100%;
}

#contact input::placeholder,
#contact textarea::placeholder {
    font-style: italic;
}

#contact span {
    display: none;
    color: rgb(255, 0, 0);
}

#contact textarea {
    max-height: 140px;
    min-height: 38px;
}

#contact input::placeholder,
#contact textarea::placeholder {
    color: rgb(187, 187, 187);
    font-size: 1.2rem;
    padding-left: 5px;
}

.imgContato {
    background-image: url("../img/entreEmContato.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 7px;
    width: 190px;
    height: 203px;
}

#btn-contato {
    background-color: rgb(165, 42, 42);
    color: rgb(255, 255, 255);
    height: 45px;
    margin-top: 10px;
    margin-left: calc(50% - 35px);
    width: 100px;
}

#btn-contato:hover {
    background-color: rgb(119, 1, 1);
    cursor: pointer;
    transform: scale(1.03);
}

@media screen and (max-width: 991px) {
    .imgElilus {
        width: auto;
        min-width: 200px;
        margin-right: 0;
        margin-bottom: 25px;
        display: flex;
    }

    .imgEstabelecimento {
        display: flex;
        justify-content: center;
    }

    .imgContato {
        display: none;
    }

    .form form {
        width: 90%;
    }
}

@media screen and (max-width: 577px) {
    #contact {
        width: 95%;
    }
}