@font-face{
    font-family: 'avantGarde';
    src: url('/fonts/avant_garde_regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'avantGarde', Arial, Helvetica, sans-serif;
}

.logo{
    display: inline-block;
    margin-right: 85px;
    max-width: 300px;
}

.nav-link:hover {
    text-decoration: underline;
}

#btnSearch{
    background-color: rgb(165, 42, 42);
    border:none;
    color: rgb(255, 255, 255);
    display: block;
    float: right;
    transition-duration: 0.4s;
    width:70px;
}

#navbarScroll form {
    margin-left: 23px;
}

#btnSearch:hover {
    background-color: rgb(119, 1, 1);
    cursor: pointer;
}

#btnModal {
    margin-left: 3rem;;
}

.titlePage {
    color: rgb(165, 42, 42); 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 42px; 
    margin-bottom: 35px;
    text-align:center; 
}

.subtitlePage {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

/*MODAL Login/Sign*/
.modal-title{
    font-size: 25px;
}

.required:after {
    content:" *"; 
    color: rgb(255, 0, 0);
  }

.close{
    top: -10px;
    text-align: center;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}

#registerSign input {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin-top: 7px;
    width: 100%;
}

#registerSign span {
    display: none;
    color: rgb(255, 0, 0);
}

#registerSign input::placeholder {
    color: rgb(187, 187, 187);
}

/*FOOTER*/
footer {
    background-color: rgba(138, 31, 31, 0.747);
    color: rgb(255, 255, 255);
    padding-top: 30px;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

footer .footer-logo{
    max-width: 250px;
}

footer .footer-copyright {
    background-color: rgba(90, 22, 22, 0.644);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

footer .row {
    margin-bottom: 60px;
}

footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

footer .footer-copyright p {
    margin: 10px;
    color: rgb(204, 204, 204);
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

footer h5 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 30px;
}

footer h2 a{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer a {
    color: rgb(210, 209, 209);
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .social-networks a {
    font-size: 32px;
    color: rgb(249, 249, 249);
    padding: 10px;
    transition: 0.2s;
}

footer .social-networks a:hover {
    text-decoration: none;
}

footer .facebook:hover {
    color: rgb(0, 119, 226);
}

footer .mail:hover {
    color: rgb(156, 46, 35);
}

footer .btn {
    color: rgb(0, 0, 0);
    background-color: rgb(165, 42, 42);
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

footer .btn:hover {
    color: rgb(249, 249, 249);
    background-color: rgb(119, 1, 1);
}

@media screen and (max-width: 991px) {
    #navbarScroll form {
        margin-left: 0;
    }

    #btnModal {
        margin-left: 0;
        margin: 15px calc(50% - 68px);
    }
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
    }
}

@media screen and (max-width: 485px) {
    .logo {
        margin-right: 60px;
        max-width: 200px;
    }
}

@media screen and (max-width: 365px){
    .logo {
        margin-right: 20px;
        max-width: 100px;
    }
}